/* IMPOSTAZIONI GENERALI */
body {
  margin: 0;
  background-image: url(../img/sfondo.png);
}

/* HEADER */
header div {
  background-color: darkturquoise;
  width: 90%;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
